In [1]:
from pyautomate import office

## 엑셀 파일 읽기

In [2]:
frame = office.Excel('data/NC Dinos 2015.xlsx')

읽어온 엑셀 파일 살펴보기

In [3]:
frame

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
5,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
6,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
7,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
8,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
9,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
10,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
11,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
12,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
13,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
14,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
15,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
16,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
17,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
18,강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
19,김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

처음 3줄만 출력

In [4]:
frame[:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52

특정 열 선택

In [5]:
frame['안타']

0     180
1     184
2     158
3     132
4     125
5      35
6     108
7     118
8      62
9     111
10     12
11     21
12      8
13    107
14      8
15      0
16     10
17      1
18      0
19      0
Name: 안타, dtype: int64

In [6]:
frame[['안타', '홈런']][:3]

    안타  홈런
0  180  47
1  184  28
2  158   3

특정 열을 원하는 순서로 선택

In [7]:
frame[['홈런', '안타']][:3]

   홈런   안타
0  47  180
1  28  184
2   3  158

특정 행 선택

In [8]:
frame.loc[0]

선수명        테임즈
팀명          NC
경기         142
타석         595
타수         472
안타         180
홈런          47
득점         130
타점         140
볼넷         103
삼진          91
도루          40
BABIP     0.39
타율       0.381
출루율      0.497
장타율       0.79
OPS      1.287
wOBA      0.52
WAR      11.73
Name: 0, dtype: object

In [9]:
frame.loc[[0, 1]]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.52,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.39,4.46

특정 행을 원하는 순서로 선택

In [10]:
frame.loc[[1,0]]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.39,4.46
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.52,11.73

색인 설정

In [11]:
frame = frame.set_index('선수명')
frame[:3]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52

In [12]:
frame[['안타', '홈런']][:3]

      안타  홈런
선수명
테임즈  180  47
나성범  184  28
박민우  158   3

설정된 색인으로 선택

In [13]:
frame.loc[['나성범', '테임즈']]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.39,4.46
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.52,11.73

특정 색인에 대해 지정한 순서로 열 선택

In [14]:
frame.loc[['나성범', '테임즈'], ['타석', '안타', '홈런']]

      타석   안타  홈런
선수명
나성범  622  184  28
테임즈  595  180  47

열 단위 연산

In [15]:
(frame['안타'] + frame['홈런'])/frame['타석']

선수명
테임즈    0.381513
나성범    0.340836
박민우    0.260940
이호준    0.301158
김종호    0.265432
조영훈    0.294521
손시헌    0.238189
이종욱    0.244048
모창민    0.284519
지석훈    0.261803
용덕한    0.244898
최재원    0.225490
박정준    0.333333
김태군    0.238397
조평호    0.409091
이창섭    0.000000
김준완    0.185185
강구성    0.200000
강민국    0.000000
김태진    0.000000
dtype: float64

In [16]:
frame['안타'].mean()

69.0

In [17]:
frame[['안타', '홈런']].mean()

안타    69.0
홈런     7.9
dtype: float64

In [18]:
테나 = frame.loc[['나성범', '테임즈'], ['타석', '안타', '홈런']]
테나

      타석   안타  홈런
선수명
나성범  622  184  28
테임즈  595  180  47

In [19]:
타수합계 = 테나[['안타', '홈런']].sum(1)

In [20]:
타수합계 / 테나['타석']

선수명
나성범    0.340836
테임즈    0.381513
dtype: float64

열 추가

In [21]:
frame['시즌'] = 2015
frame[:3]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
선수명,,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015

In [22]:
타수합계 = frame[['안타', '홈런']].sum(1)

In [23]:
타수합계

선수명
테임즈    227
나성범    212
박민우    161
이호준    156
김종호    129
조영훈     43
손시헌    121
이종욱    123
모창민     68
지석훈    122
용덕한     12
최재원     23
박정준      8
김태군    113
조평호      9
이창섭      0
김준완     10
강구성      1
강민국      0
김태진      0
dtype: int64

In [24]:
frame['타수합계'] = 타수합계

In [25]:
frame[:5]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌,타수합계
선수명,,,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015,227
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015,212
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015,161
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19,2015,156
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015,129

엑셀 파일 저장

In [26]:
office.to_excel(frame[['시즌', '타석', '안타', '홈런']], 'NC2015.xlsx')

덮어쓰기 설정

In [27]:
office.to_excel(frame[['시즌', '타석', '안타', '홈런', '타수합계']], 'NC2015.xlsx')

/Users/seongjoo/development/pyautomate/pyautomate/office/__init__.py:37: PathExistsWarning: NC2015.xlsx exists.
  warnings.warn(PathExistsWarning(path))

In [28]:
office.to_excel(frame[['시즌', '타석', '안타', '홈런', '타수합계']], 'NC2015.xlsx', overwrite=True)

## 여러 엑셀 파일

In [29]:
NC시즌 = []

for 시즌 in range(2013, 2016):
    경로 = 'data/NC Dinos {}.xlsx'.format(시즌)
    프레임 = office.Excel(경로)
    프레임['시즌'] = 시즌
    프레임.name = 'NC {}'.format(시즌)
    NC시즌.append(프레임)

In [30]:
NC시즌[0][:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55,2013

In [31]:
NC시즌[0].name

'NC 2013'

In [32]:
office.to_excel(NC시즌, 'NC시즌.xlsx')

### 시트를 개별 엑셀 파일로 분리

In [33]:
NC시즌 = office.Excel('NC시즌.xlsx', sheetname=None)

In [34]:
NC시즌[0]

('NC 2013',
     선수명  팀명   경기   타석   타수   안타  홈런  득점  타점  볼넷   삼진  도루  BABIP     타율    출루율  \
 0   모창민  NC  108  436  395  109  12  57  51  37   68  16  0.307  0.276  0.339
 1   이호준  NC  126  508  442  123  20  46  87  60  109   2  0.324  0.278  0.362
 2   김종호  NC  128  546  465  129   0  72  22  57  100  50  0.352  0.277  0.376
 3   나성범  NC  104  458  404   98  14  55  64  33   95  12  0.279  0.243  0.319
 4   조영훈  NC  120  426  380  107   6  38  39  39   56   4  0.316  0.282  0.350
 5   이현곤  NC   91  161  139   38   0  10   9  16   14   2  0.304  0.273  0.361
 6   이상호  NC  102  138  125   31   0  26  13   9   21  24  0.298  0.248  0.299
 7   강진성  NC    3    3    2    1   0   1   0   1    0   0  0.500  0.500  0.667
 8   조평호  NC   26   86   79   21   2  12   7   6   24   1  0.358  0.266  0.318
 9   박민우  NC   32   48   42   11   0  10   6   5    7   9  0.306  0.262  0.333
 10  박정준  NC   77  195  167   41   4  24  21  23   44   4  0.303  0.246  0.335
 11  이승호  NC    2    1    0    0   0   0   0   1    0   1      -      -  1.000
 12  마낙길  NC   24   31   29    9   0   5   0   1    5   2  0.375  0.310  0.333
 13  김성욱  NC    4    4    4    1   0   0   1   0    2   0  0.500  0.250  0.250
 14  강구성  NC    2    2    2    0   0   0   0   0    0   0  0.000  0.000  0.000
 15  지석훈  NC  104  356  309   68   3  25  35  30   82   2  0.285  0.220  0.300
 16  김종찬  NC    5    7    7    1   0   0   0   0    3   0  0.250  0.143  0.143
 17  차화준  NC   58  121  106   24   1  18   7  12   29   4  0.295  0.226  0.306
 18  김동건  NC    7   17   16    2   1   1   1   1    7   0  0.125  0.125  0.176
 19  이창섭  NC    5    5    5    0   0   0   0   0    2   0  0.000  0.000  0.000

       장타율    OPS   wOBA   WAR    시즌
 0   0.443  0.782  0.353  2.31  2013
 1   0.475  0.837  0.373  1.85  2013
 2   0.333  0.709  0.339  1.55  2013
 3   0.416  0.735  0.329  1.50  2013
 4   0.413  0.763  0.348  0.83  2013
 5   0.324  0.685  0.327  0.52  2013
 6   0.320  0.619  0.289  0.16  2013
 7   1.000  1.667  0.671  0.10  2013
 8   0.418  0.736  0.329  0.09  2013
 9   0.286  0.619  0.296  0.07  2013
 10  0.353  0.688  0.320  0.06  2013
 11      -      -  0.712  0.06  2013
 12  0.345  0.678  0.317 -0.03  2013
 13  0.250  0.500  0.234 -0.03  2013
 14  0.000  0.000  0.000 -0.06  2013
 15  0.330  0.630  0.293 -0.09  2013
 16  0.143  0.286  0.134 -0.11  2013
 17  0.311  0.617  0.289 -0.12  2013
 18  0.313  0.489  0.216 -0.14  2013
 19  0.000  0.000  0.000 -0.14  2013  )

In [35]:
NC15 = office.Excel('NC시즌.xlsx', sheetname='NC 2015')
NC15[:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015

In [36]:
NC15 = office.Excel('NC시즌.xlsx', sheetname=2)
NC15[:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015

In [37]:
NC1415 = office.Excel('NC시즌.xlsx', sheetname=['NC 2014', 'NC 2015'])

In [38]:
NC1415[0]

('NC 2014',
      선수명  팀명   경기   타석   타수   안타  홈런  득점   타점  볼넷   삼진  도루  BABIP     타율  \
 0    테임즈  NC  125  514  443  152  37  95  121  58   99  11  0.367  0.343
 1    나성범  NC  123  536  477  157  30  88  101  43  128  14  0.397  0.329
 2    박민우  NC  118  491  416  124   1  87   40  56   89  50  0.373  0.298
 3    손시헌  NC   97  361  307   90   5  39   39  34   53   2  0.331  0.293
 4    지석훈  NC  114  238  212   58   6  26   34  16   46   1  0.323  0.274
 5    이호준  NC  122  500  424  115  23  59   78  67  104   2  0.305  0.271
 6    권희동  NC  101  252  221   63   7  39   36  25   43   6  0.324  0.285
 7    모창민  NC  122  468  419  110  16  62   72  37   82  14  0.289  0.263
 8    이종욱  NC  124  495  438  126   6  73   79  40   60  15  0.313  0.288
 9    김준완  NC    6    5    4    2   0   1    0   1    1   1  0.667  0.500
 10   최재원  NC    2    2    1    0   0   1    0   1    1   0      -  0.000
 11   마낙길  NC    2    2    1    0   0   1    0   1    0   0  0.000  0.000
 12   조영훈  NC   92  124  111   29   6  15   22  10   26   1  0.288  0.261
 13   김태우  NC    4    5    5    1   0   0    0   0    3   0  0.500  0.200
 14  박명환*  NC    2    1    1    0   0   0    0   0    1   0      -  0.000
 15   조평호  NC    2    2    2    0   0   0    0   0    0   0  0.000  0.000
 16   강민국  NC    6    3    3    0   0   0    0   0    0   0  0.000  0.000
 17    허준  NC   28   36   29    5   0   2    1   5   10   0  0.263  0.172
 18   김성욱  NC   26   26   23    4   1   6    1   3    9   1  0.231  0.174
 19   노진혁  NC   25   16   16    3   1   3    2   0    7   0  0.250  0.188

       출루율    장타율    OPS   wOBA   WAR    시즌
 0   0.422  0.688  1.110  0.456  6.36  2014
 1   0.400  0.597  0.997  0.424  5.94  2014
 2   0.392  0.399  0.791  0.365  2.73  2014
 3   0.368  0.414  0.782  0.349  1.52  2014
 4   0.340  0.462  0.802  0.352  0.97  2014
 5   0.371  0.481  0.852  0.369  0.88  2014
 6   0.363  0.443  0.806  0.353  0.62  2014
 7   0.320  0.413  0.733  0.319  0.17  2014
 8   0.343  0.411  0.754  0.332  0.13  2014
 9   0.600  0.500  1.100  0.509  0.11  2014
 10  0.500  0.000  0.500  0.363  0.01  2014
 11  0.500  0.000  0.500  0.363  0.01  2014
 12  0.325  0.459  0.784  0.337 -0.02  2014
 13  0.200  0.400  0.600  0.244 -0.03  2014
 14  0.000  0.000  0.000  0.000 -0.03  2014
 15  0.000  0.000  0.000  0.000 -0.07  2014
 16  0.000  0.000  0.000  0.000 -0.10  2014
 17  0.294  0.276  0.570  0.268 -0.11  2014
 18  0.269  0.348  0.617  0.272 -0.15  2014
 19  0.188  0.375  0.563  0.231 -0.18  2014  )

In [39]:
시트명, 프레임 = NC시즌[0]

In [40]:
시트명

'NC 2013'

In [41]:
프레임[:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55,2013

In [42]:
for 시즌 in NC시즌:
    시트명, 프레임 = 시즌
    office.to_excel(프레임, 시트명)